@charset "utf-8";
html body {
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.body_resize {
    padding:0 20px 0 20px;
    width:892px;
    background:#fff;
    min-height:100%;

}
.Rectangle_5 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: -2px;
    top: 547px;
    width: 1400px;
    height: 1872px;
    z-index: 3;
}

.GRID {
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height:100%;
    z-index: 138;
}
.Layer_109_copy {
    /*background-image: url("/images/Layer_10_ copy.png");*/
    opacity: 0.471;
    position: absolute;
    left: 85px;
    top: 0;
    width: 100%;
    height: 2416px;
    z-index: 137;
}

.Sub_Nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2416px;
    z-index: 134;
}
.Contact {
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 430.844px;

    z-index: 134;
}

.SHOESSHOP {
    font-size: 18px;
    font-family: "Helvetica Light", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 116.316px;

    z-index: 133;
    cursor: pointer;
}

.About {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 357.937px;

    z-index: 132;
}

.Layer_19 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 130;
}
.Layer_18 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 129;
}
.Home {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 284.844px;

    z-index: 129;

}
.active{
    color: rgb(212, 172, 113);
    font-weight: bold;
}
.Home:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;
    color: rgb(212, 172, 113);
}
.About:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;
    color: rgb(212, 172, 113);
}
.Contact:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;
    color: rgb(212, 172, 113);
}
a{
    width: 100%;
}
.Rectangle_1 {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 52px;
    z-index: 127;
}


/******************************slider******************/
.Group_2 {
    height: 500px;
    background-size: cover;
    background-position: bottom left;
}
.Ellipse_3_copy_2 {
    border-radius: 50%;
    background-color: #f7f0f0;
    position: absolute;
    left:833px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 123;
}
.Ellipse_3_copy {
    border-radius: 50%;
    background-color: rgb(244, 241, 237);
    position: absolute;
    left: 860px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 122;
}
.Ellipse_3 {
    border-radius: 50%;
    background-color: rgb(244, 241, 237);
    position: absolute;
    left: 888px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 121;
}
.Ellipse_3:hover {
    background-color: #ed1c24;
    cursor: pointer;
}
.Ellipse_3_copy:hover {
    background-color:#ed1c24;
    cursor: pointer;
}
.Ellipse_3_copy_2:hover {
    background-color: #ed1c24;
    cursor: pointer;
}
.Rectangle_2 {
    /*background-color: rgb(216, 216, 216);*/
    position: absolute;
    top: 49px;
    width: 100%;
    z-index: 115;
}
.Big_Title_Here_Lorem_ipsum_dolor_sit_amet__cons {
    font-size: 36px;
    font-family: "Proxima Nova", serif;
    color: rgb(0, 0, 0);
    line-height: 1.375;
    position: absolute;
    left: 877px;
    top: 92.45px;
    width: 566px;
    height: 174px;
    z-index: 120;
}
.Layer_20 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 120;
}
.Rounded_Rectangle_1 {
    border-radius: 9px;
    background-color: rgb(237, 28, 36);
    position: absolute;
    left: 877px;
    top: 284px;
    width: 150px;
    height: 49px;
    z-index: 120;
    cursor: pointer;
}
.Rounded_Rectangle_1:hover ,.Rounded_Rectangle_1:focus{
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    transition: all .3s;
}
.SHOW_ME_MORE {
    font-size: 14px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
    position: absolute;
    left: 893px;
    top: 297px;
    z-index: 120;
    font-weight: bold;
    cursor: pointer;
}
.banner-con{

}



/***************search*********************/
.Rectangle_4_copy {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 666px;
    width: 245px;
    height: 49px;
    z-index: 6;
    font-size: 18px;
    font-family: "Helvetica", serif;
    /*font-weight: bold;*/
    color: rgb(0, 0, 0);
    padding-left: 21px;
    line-height: 2.75;
    cursor: text;
}
.Rectangle_4_copy:focus{
    outline: none;
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 0.3s, border 0.3s;
    transition-delay: 0s;
    transition-duration:0.2s;
    transition-property:box-shadow;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.Rectangle_4_copy:focus::-webkit-input-placeholder{
    color: #969696;
}
.Rectangle_4_copy::-webkit-input-placeholder {
    color: black;
}
/**********************categories*********************/
.categories_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 1400px;
    height: 2416px;
    z-index: 37;
}
.Layer_7_copy_3 {
    /*background-image: url("Layer 7 copy 3.png");*/
    position: absolute;
    left: 1091px;
    top: 923px;
    width: 154px;
    height: 1px;
    z-index: 36;
}
.Layer_7_copy_2 {
    /*background-image: url("Layer 7 copy 2.png");*/
    position: absolute;
    left: 1078px;
    top: 893px;
    width: 167px;
    height: 1px;
    z-index: 35;
}
.__copy_3 {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 907.997px;
    z-index: 34;
}
.Ellipse_1_copy_3 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 914px;
    width: 18px;
    height: 18px;
    z-index: 33;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 876.997px;
    z-index: 32;
}
.Ellipse_1_copy_2 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 883px;
    width: 18px;
    height: 18px;
    z-index: 31;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1253.937px;
    top: 846.497px;
    z-index: 30;
}
.Ellipse_1_copy {
    border-radius: 50%;
    background-color: rgb(205, 0, 0);
    position: absolute;
    left: 1248px;
    top: 853px;
    width: 18px;
    height: 18px;
    z-index: 29;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 816.997px;
    z-index: 28;
}
.Ellipse_1 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 823px;
    width: 18px;
    height: 18px;
    z-index: 27;
}
 .Layer_7_copy {
    /*background-image: url("Layer 7 copy.png");*/
    position: absolute;
    left: 1116px;
    top: 863px;
    width: 129px;
    height: 1px;
    z-index: 26;
}
.Layer_7 {
    /*background-image: url("Layer 7.png");*/
    position: absolute;
    left: 1091px;
    top: 833px;
    width: 154px;
    height: 1px;
    z-index: 25;
}
.categorays-type {
    position:absolute;
    right: 150px;
    top:817px;
    width:233px;
    height:147px;
    z-index: 25;
}
.unopen-cattegorys,.unopen-cattegorys1,.unopen-cattegorys2,.unopen-cattegorys3{
    position:absolute;
    right: 123px;
    top: 821px;
    width: 18px;
    height: 18px;
    z-index: 25;
    cursor: pointer;
    content: url(../images/unopen_cattegorys.gif);
}
.unopen-cattegorys1{
    top:850px;
}
.unopen-cattegorys2{
    top:880px;
}
.unopen-cattegorys3{
    top:910px;
}
input:checked{
    content: url('../images/opend_cattgory.gif');
    cursor: pointer;
    position:absolute;
    right: 123px;
    top:821px;
    width:18px;
    height:18px;
    z-index: 25;
}
.unopen-cattegorys1:checked{
    top:850px;
}
.unopen-cattegorys2:checked{
    top:880px;
}
.unopen-cattegorys3:checked{
    top:910px;
}
.Layer_6 {
    background-image: url("../images/cattegory_hr.png");
    position: absolute;
    top: 800px;
    width: 267px;
    height: 1px;
    z-index: 23;
    right: 116px;
}
.CATEGORIES {
    font-size: 18px;
    font-family: "Helvetica", serif;
    /*font-weight: bold;*/
    color: black;
    padding-left: 21px;
    line-height: 2.75;
    z-index: 22;
}
.Rectangle_4 {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 750px;
    width: 245px;
    height: 212px;
    z-index: 21;
}
/*************************** Search options *********************/
.Rectangle_4b {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 1000px;
    width: 268px;
    height: 328px;
    z-index: 10;
}
.SEARCH_OPTIONS {
    font-size: 18px;
    font-family: "Helvetica", "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    padding-left: 21px;
}
.Layer_6b {
    background-image: url("../images/cattegory_hr.png");
    width: 267px;
    height: 1px;
    z-index: 23;
    right: 116px;
}

.search_dropdwon {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    border: none;
    width: 227px;
    margin-top: 30px;
    margin-left: 21px;
    padding-left: 21px;
    outline: none;
    height: 33px;
}
 /*option{*/
     /*background-color: rgb(59, 4, 1);*/
     /*color: white;*/
/*}*/

.HIGH_to_LOW {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    margin-top: 104px;
    margin-left: 52px;
    cursor: pointer;
    display: block;
    width: 120px;

}
.LOW_to_HIGH {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    margin-top: -20px;
    margin-left: 52px;
    cursor: pointer;
    display: block;
    width: 120px;
}
.HIGH_to_LOW:hover {
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;

}
.LOW_to_HIGH:hover {
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;
}
.addClass{
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;
}
/*********************************Home page************************/
.FEATURED_PRODUCTS {
    font-size: 24px;
    font-family: "Proxima Nova", serif;
    color: rgb(0, 0, 0);
    line-height: 2.063;
    position: absolute;
    left: 112.872px;
    top: 615.244px;
    z-index: 41;
    font-weight: bold;
}
.Layer_2 {
    background-image: url("../images/Layer_2.png");
    position: absolute;
    left: 115px;
    top: 666px;
    width: 871px;
    height: 1px;
    z-index: 42;
}
.ShoesListUl {
    position: absolute;
    left: 76px;
    top: 668px;
}
li{
    width: 266px;
}
    /*****************************footer************************/
.Rectangle_6 {
    background-color: rgb(59, 4, 1);
    position: absolute;

    top: 1550px;
    width: 100%;
    height: 175px;
    z-index: 139;
}
.SHOESSHOP_copy {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 603.096px;

    z-index: 140;
}
.copyRights {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 723.987px;

    z-index: 142;
}
._2017 {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 755.443px;

    z-index: 141;
}
