@charset "utf-8";
html body {
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}
li{
    list-style-type: none;
}
body{
    background-color: rgb(216, 216, 216);

}

.body_resize {
    /*padding:0 20px 0 20px;*/
    width:100%;
    background:#fff;
    min-height:100%;
    height: 100%;

}
.Rectangle_5 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: -2px;
    top: 547px;
    width: 1400px;
    height: 1872px;
    z-index: 3;
}

/*.GRID {*/
    /*background-color: rgb(241, 241, 241);*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*min-height:100%;*/
    /*z-index: 138;*/
/*}*/
.Layer_109_copy {
    /*background-image: url("/images/Layer_10_ copy.png");*/
    opacity: 0.471;
    position: absolute;
    left: 85px;
    top: 0;
    width: 100%;
    height: 2416px;
    z-index: 137;
}

.Sub_Nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2416px;
    z-index: 134;
}
.Contact {
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 430.844px;

    z-index: 134;
}

.SHOESSHOP {
    font-size: 18px;
    font-family: "Helvetica Light", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 116.316px;
text-decoration: none;
    z-index: 133;
    cursor: pointer;
}




.Layer_19 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 130;
}
.Layer_18 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 129;
}

#nav a:hover{
    color: rgb(212, 172, 113);
    font-weight: bold;
    transition: all .2s ease-in-out;
    font-size: 26px;
}
#nav a.active{
    color: rgb(212, 172, 113);
    font-weight: bold;

}

#nav a {
    margin-left: 20px;
    text-decoration: none;
    float: left;

    color: white;
    padding-left: 40px;
    padding-top: 13px;
    font-size: 20px;
    /*font-weight: bold;*/
    cursor: pointer;
    font-family: "Helvetica Light", serif;
    position: relative;
    left: 238px;

}
/*.About:hover{*/
    /*font-weight: bold;*/
    /*cursor: pointer;*/
    /*font-size: 20px;*/
    /*transition: all .2s ease-in-out;*/
    /*color: rgb(212, 172, 113);*/
/*}*/
/*.Contact:hover{*/
    /*font-weight: bold;*/
    /*cursor: pointer;*/
    /*font-size: 20px;*/
    /*transition: all .2s ease-in-out;*/
    /*color: rgb(212, 172, 113);*/
/*}*/
/*a{*/
    /*width: 100%;*/
/*}*/
.Rectangle_1 {
    background-color: rgb(0, 0, 0);

    width: 100%;
    height: 52px;
    z-index: 127;
}


/******************************slider******************/
.Group_2 {
    height: 500px;
    background-size: cover;
    background-position: bottom left;
}
.Ellipse_3_copy_2 {
    border-radius: 50%;
    background-color: #f7f0f0;
    position: absolute;
    left:833px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 123;
}
.Ellipse_3_copy {
    border-radius: 50%;
    background-color: rgb(244, 241, 237);
    position: absolute;
    left: 860px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 122;
}
.Ellipse_3 {
    border-radius: 50%;
    background-color: rgb(244, 241, 237);
    position: absolute;
    left: 888px;
    top: 456px;
    width: 20px;
    height: 18px;
    z-index: 121;
}
.Ellipse_3:hover {
    background-color: #ed1c24;
    cursor: pointer;
}
.Ellipse_3_copy:hover {
    background-color:#ed1c24;
    cursor: pointer;
}
.Ellipse_3_copy_2:hover {
    background-color: #ed1c24;
    cursor: pointer;
}
.Rectangle_2 {
    background-color: rgb(216, 216, 216);
    position: absolute;
    top: 49px;
    width: 100%;
    z-index: 115;
}
.Big_Title_Here_Lorem_ipsum_dolor_sit_amet__cons {
    font-size: 36px;
    font-family: "Proxima Nova", serif;
    color: rgb(0, 0, 0);
    line-height: 1.375;
    position: absolute;
    left: 960px;
    top: 92.45px;
    width: 566px;
    height: 174px;
    z-index: 120;
}
.Layer_20 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 120;
}
.Rounded_Rectangle_1 {
    border-radius: 9px;
    background-color: rgb(237, 28, 36);
    position: absolute;
    left: 960px;
    top: 284px;
    width: 150px;
    height: 49px;
    z-index: 120;
    cursor: pointer;
}
.Rounded_Rectangle_1:hover ,.Rounded_Rectangle_1:focus{
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    transition: all .3s;
}
.SHOW_ME_MORE {
    font-size: 14px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
    position: absolute;
    left: 979px;
    top: 297px;
    z-index: 120;
    font-weight: bold;
    cursor: pointer;
}
.banner-con{

}



/***************search*********************/
.Rectangle_4_copy {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 666px;
    width: 270px;
    height: 49px;
    z-index: 6;
    font-size: 18px;
    font-family: "Helvetica", serif;
    /*font-weight: bold;*/
    color: rgb(0, 0, 0);
    padding-left: 21px;
    line-height: 2.75;
    cursor: text;
    content: "\f130";
}
.Rectangle_4_copy:focus{
    content: "\f130";
    outline: none;
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 0.3s, border 0.3s;
    transition-delay: 0s;
    transition-duration:0.2s;
    transition-property:box-shadow;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.Rectangle_4_copy:focus::-webkit-input-placeholder{
    color: #969696;
}
.Rectangle_4_copy::-webkit-input-placeholder {
    color: black;
}
.Rectangle_4_copy:before {

}
/**********************categories*********************/
.categories_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 1400px;
    height: 2416px;
    z-index: 37;
}
.Layer_7_copy_3 {
    /*background-image: url("Layer 7 copy 3.png");*/
    position: absolute;
    left: 1091px;
    top: 923px;
    width: 154px;
    height: 1px;
    z-index: 36;
}
.Layer_7_copy_2 {
    /*background-image: url("Layer 7 copy 2.png");*/
    position: absolute;
    left: 1078px;
    top: 893px;
    width: 167px;
    height: 1px;
    z-index: 35;
}
.__copy_3 {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 907.997px;
    z-index: 34;
}
.Ellipse_1_copy_3 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 914px;
    width: 18px;
    height: 18px;
    z-index: 33;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 876.997px;
    z-index: 32;
}
.Ellipse_1_copy_2 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 883px;
    width: 18px;
    height: 18px;
    z-index: 31;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1253.937px;
    top: 846.497px;
    z-index: 30;
}
.Ellipse_1_copy {
    border-radius: 50%;
    background-color: rgb(205, 0, 0);
    position: absolute;
    left: 1248px;
    top: 853px;
    width: 18px;
    height: 18px;
    z-index: 29;
}
._ {
    font-size: 18px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    position: absolute;
    left: 1252.042px;
    top: 816.997px;
    z-index: 28;
}
.Ellipse_1 {
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    left: 1248px;
    top: 823px;
    width: 18px;
    height: 18px;
    z-index: 27;
}
 .Layer_7_copy {
    /*background-image: url("Layer 7 copy.png");*/
    position: absolute;
    left: 1116px;
    top: 863px;
    width: 129px;
    height: 1px;
    z-index: 26;
}
.Layer_7 {
    /*background-image: url("Layer 7.png");*/
    position: absolute;
    left: 1091px;
    top: 833px;
    width: 154px;
    height: 1px;
    z-index: 25;
}
.categorays-type {
    position:absolute;
    right: 150px;
    top:817px;
    width:233px;
    height:147px;
    z-index: 25;
}
.unopen-cattegorys,.unopen-cattegorys1,.unopen-cattegorys2,.unopen-cattegorys3{
    position:absolute;
    right: 123px;
    top: 821px;
    width: 18px;
    height: 18px;
    z-index: 25;
    cursor: pointer;
    content: url(../images/unopen_cattegorys.gif);
}
.unopen-cattegorys1{
    top:850px;
}
.unopen-cattegorys2{
    top:880px;
}
.unopen-cattegorys3{
    top:910px;
}
input:checked{
    content: url('../images/opend_cattgory.gif');
    cursor: pointer;
    position:absolute;
    right: 123px;
    top:821px;
    width:18px;
    height:18px;
    z-index: 25;
}
.unopen-cattegorys1:checked{
    top:850px;
}
.unopen-cattegorys2:checked{
    top:880px;
}
.unopen-cattegorys3:checked{
    top:910px;
}
.Layer_6 {
    background-image: url("../images/cattegory_hr.png");
    position: absolute;
    top: 800px;
    width: 267px;
    height: 1px;
    z-index: 23;
    right: 116px;
}
.CATEGORIES {
    font-size: 18px;
    font-family: "Helvetica", serif;
    /*font-weight: bold;*/
    color: black;
    padding-left: 21px;
    line-height: 2.75;
    z-index: 22;
}
.Rectangle_4 {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 750px;
    width: 245px;
    height: 212px;
    z-index: 21;
}
/*************************** Search options *********************/
.Rectangle_4b {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 115px;
    top: 1000px;
    width: 268px;
    height: 328px;
    z-index: 10;
}
.SEARCH_OPTIONS {
    font-size: 18px;
    font-family: "Helvetica", "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    padding-left: 21px;
}
.Layer_6b {
    background-image: url("../images/cattegory_hr.png");
    width: 267px;
    height: 1px;
    z-index: 23;
    right: 116px;
}

.search_dropdwon {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    border: none;
    width: 227px;
    margin-top: 30px;
    margin-left: 21px;
    padding-left: 21px;
    outline: none;
    height: 33px;
}
 /*option{*/
     /*background-color: rgb(59, 4, 1);*/
     /*color: white;*/
/*}*/

.HIGH_to_LOW {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    margin-top: 104px;
    margin-left: 52px;
    cursor: pointer;
    display: block;
    width: 120px;

}
.LOW_to_HIGH {
    font-size: 18px;
    font-family: "Myriad Pro", serif;
    color: rgb(0, 0, 0);
    line-height: 2.75;
    margin-top: -20px;
    margin-left: 52px;
    cursor: pointer;
    display: block;
    width: 120px;
}
.HIGH_to_LOW:hover {
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;

}
.LOW_to_HIGH:hover {
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;
}
.addClass{
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;
}
#HtoL:active{
    text-decoration: underline;
    color: rgb(59, 4, 1);
    font-weight: bold;
}
/*********************************Home page************************/
.FEATURED_PRODUCTS {
    font-size: 24px;
    font-family: "Proxima Nova", serif;
    color: rgb(0, 0, 0);
    line-height: 2.063;
    position: absolute;
    left: 146px;
    top: 615.244px;
    z-index: 41;
    font-weight: bold;
}
.Layer_2 {
    background-image: url("../images/Layer_2.png");
    position: absolute;
    left: 115px;
    top: 666px;
    width: 860px;
    height: 1px;
    z-index: 42;
}


li{
    width: 266px;
}
#left{
    float:left;
    width:860px;
    position: relative;
    top:678px;
    left:115px;
    border-radius: 35px;
    background-color: white;
}
/******************************homePage products******************/
.shoesContainer{
    /*border: 2px grey;*/
    /*border-style:dotted;*/
    float: left;
    width:272px;
    height: 500px;
    text-overflow: clip;
    overflow: hidden;
}
.shoesContainer img{
    width: 200px;
}
p {
    display: inline-flex;
}
.price{
    color:#ed2028;
    font-size: 24pt;
    margin: 0;
    padding-right: 10px;
    position: relative;
    bottom: 33px;
}
.home-btn{

    border: 1px solid red;
    text-decoration: none;
    color:white;

    font-size: 1em;

    padding-top: 5px;
    transition: 0.5s all ease-in-out;
    text-align: center;

    border-radius: 7px;
    background-color: rgb(237, 28, 36);
    width: 150px;
    height: 44px;
    cursor: pointer;
}
.home-btn a{
    color:white;
    font-size: 16pt;
    text-decoration:none;
    font-weight:bold;
    font-family: Myriad Pro, serif;

}
.home-btn:hover ,.home-btn:focus{
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    transition: all .3s;
}
.tell-me-more{
    font-size: 14px;
    font-family: "Proxima Nova", serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
    z-index: 120;
    font-weight: bold;
    /*cursor: pointer;*/
    position: relative;
    left: 14px;
}
.pArticle{
    float: right;
    width:300px;
    font-size:1.2em;
    padding-right:50px;
}
h2 h3 h4 p{
    margin: 0;
    padding: 0;
}
h4{
    display: inline;
}
.NIKE {
    font-size: 18px;
    font-family: "Myriad Pro",fantasy;
    color: rgb(57, 57, 57);

}
.Sample_Item_Title {
    font-size: 18px;
    font-family: "lato";
    color: rgb(57, 57, 57);
    height: 50px;
width: 235px;

}
._99_99 {
    font-size: 24px;
    font-family: "Proxima Nova";
    color: rgb(237, 28, 36);
    padding-right: 31px;

}
.shoeImag{
    height: 200px;
}
/**************************about*******************************/
#about{

    width:960px;
    position: relative;
    top:678px;
    left:115px;
    border-radius: 35px;
    background-color: white;
}
/**************************contact us*******************************/
#contact{

    width:1104px;
    position: relative;
    top:678px;
    left:115px;
    border-radius: 35px;
    background-color: white;
    padding: 15px;
}
.Contact {
    font-size: 24px;
    font-family: "Proxima Nova", serif;
    color: rgb(0, 0, 0);
    line-height: 2.063;
    position: absolute;
    left: 146px;
    top: 615.244px;
    z-index: 41;
    font-weight: bold;
}
.Contact_2 {
    background-image: url("../images/Layer_2.png");
    position: absolute;
    left: 115px;
    top: 666px;
    width: 960px;
    height: 1px;
    z-index: 42;
}
.mz_genericWidget{
    text-align: center;
}
.submit{
    height: inherit;
    margin-top:20px;
    float: right;
}
fieldset{
    margin-top: 20px;
    text-align: right;
}
fieldset label{
    font-size: 18px;
    font-family: "Myriad Pro",fantasy;
    color: rgb(57, 57, 57);

}

div.mz_productFinder h3 {
    font-size: 110%;
    float: left;
    padding: 25px 2% 0 2%;
    text-align: right;
    width: 21%
}

div.mz_productFinder fieldset {
    float: left;
    overflow: hidden;
    padding: 10px 0;
    text-align: left;
    width: 75%
}

div.mz_productFinder fieldset fieldset {
    margin-right: 2%;
    padding: 0;
    float: left;
    width: 25%
}

div.mz_productFinder fieldset label {
    display: block;
    font-size: 90%;
    margin-bottom: 3px;
    font-weight: bold
}

div.mz_productFinder fieldset select {
    border: 1px solid #b2b2b2;
    font-size: 125%;
    padding: 2px 2%;
    width: 94%
}

div.mz_productFinder fieldset a {
    color: #fff;
    font-size: 110%;
    font-weight: bold;
    float: left;
    margin-top: 7px;
    padding: 10px 1.5%;
    text-align: center;
    width: 12%
}

div.mz_productFinder fieldset a:link,div.mz_productFinder fieldset a:visited {
    background-color: #666;
    text-decoration: none
}

div.mz_productFinder fieldset a:hover,div.mz_productFinder fieldset a:active {
    background-color: #000
}

table.mz_dataTbl,.mz_genericContent table {
    border-bottom: 1px solid #b2b2b2;
    margin: 10px 0;
    width: 100%
}

table.mz_dataTbl tr td,.mz_genericContent table tr td {
    background-color: #fff;
    border-top: 1px solid #efefef;
    padding: 5px 10px
}

table.mz_dataTbl tr th,.mz_genericContent table tr th,table.mz_listTbl tr th {
    background-color: #efefef;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    font-size: 110%;
    padding: 10px;
    text-align: left
}

table.mz_dataTbl .mz_btnPrimary {
    display: block;
    float: none;
    font-size: 100%;
    height: 15px;
    padding: 5px 0;
    width: 130px
}

table.mz_dataTbl tr:nth-child(odd) td,.mz_genericContent table tr:nth-child(odd) td {
    background-color: #fdfdfd
}

table.mz_dataTbl tr.mz_alt_rowB td {
    border-top: none;
    padding: 0 10px 5px 10px
}

table.mz_dataTbl tr.mz_subhead_row td {
    font-size: 85%;
    font-weight: bold;
    text-transform: uppercase
}

table.mz_dataTbl tr.mz_addon_row td {
    font-size: 85%
}

table.mz_dataTbl input {
    border: 1px solid #b2b2b2;
    width: 60px
}

table.mz_dataTbl select {
    width: 100px
}

table.mz_dataTbl img {
    display: block
}

table.mz_dataTbl input.mz_tblLink_tiny,table.mz_dataTbl a.mz_tblLink_tiny,table.mz_dataTbl a.wishlist-add-single {
    display: block;
    font-size: 75%;
    margin: 5px 0 10px 0;
    padding: 5px 0;
    text-transform: uppercase;
    width: 100%
}

table.mz_dataTbl input.mz_tblLink_tiny {
    background-color: #efefef;
    border: 1px solid #dfdfdf;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center
}

table.mz_dataTbl a.mz_tblLink_tiny {
    text-decoration: underline
}

table.mz_dataTbl input.mz_tblLink_tiny:hover {
    border: 1px solid #999
}

table.mz_dataTbl input.inputCheckRadio {
    border: none;
    display: inline-block;
    width: auto
}

table.mz_dataTbl a.mz_btnSecondary {
    margin-left: 0
}

table.mz_dataTbl a.wishlist-add-single {
    color: #fff;
    text-align: center;
    text-decoration: none
}

table.mz_dataTbl a.wishlist-add-single:link,table.mz_dataTbl a.wishlist-add-single:visited {
    background-color: #666
}

table.mz_dataTbl a.wishlist-add-single:hover,table.mz_dataTbl a.wishlist-add-single:active {
    background-color: #000
}

table.mz_dataTbl span {
    font-weight: bold
}

table.mz_dataTbl span.mz_prevPrice {
    color: #999;
    font-weight: normal;
    text-decoration: line-through
}

table.mz_dataTbl strong.mz_salePrice {
}

table.mz_dataTbl tr.tbl_neutralMsg td {
    background-color: #f9f9f9;
    padding: 15px 10px
}

table.mz_dataTbl tr.tbl_errorMsg td {
    background-color: #ffe5e5;
    padding: 15px 10px
}

table.mz_dataTbl tr.tbl_successMsg td {
    background-color: #edfde3;
    padding: 15px 10px
}

table.mz_dataTbl tr.tbl_neutralMsg td p,table.mz_dataTbl tr.tbl_errorMsg td p,table.mz_dataTbl tr.tbl_successMsg td p {
    font-size: 110%;
    font-weight: bold;
    text-align: center
}

table.mz_dataTbl tr.tbl_errorMsg td p {
    color: #c00
}

table.mz_dataTbl tr.tbl_successMsg td p {
    color: #390
}

table.mz_dataTbl tr.mz_discontinue_row td {
    opacity: .3
}

table.mz_dataTbl tr.mz_discontinue_row input.mz_tblLink_tiny:hover {
    border: 1px solid #dfdfdf
}

table.mz_dataTbl tr.mz_discontinue_row a,table.mz_dataTbl tr.mz_discontinue_row a:hover {
    cursor: default;
    text-decoration: none
}

table.mz_dataTbl tr.mz_discontinueFlag td {
    background-color: #999;
    color: #fff;
    font-size: 100%;
    line-height: 1.2;
    padding: 10px;
    text-align: center;
    text-transform: uppercase
}

table.mz_dataTbl tr.mz_discontinueFlag td a {
    color: #fff;
    font-weight: bold
}

.mz_instockMsg {
    color: #093
}

.mz_lowstockMsg {
    color: #f90
}

.mz_nostockMsg {
    color: #600
}

.mz_disstockMsg {
    color: #999
}

#mz_form {
    overflow: hidden;
    padding: 10px 0 0 0
}

#mz_form h3 {
    border-top: 1px solid #efefef;
    clear: both;
    font-size: 130%;
    font-weight: normal;
    margin: 10px 0 15px 0;
    padding: 5px 0 0 10px
}

#mz_form h3 span {
    color: #999
}

#mz_form fieldset {
    overflow: hidden;
    padding: 5px 0;

}

#mz_form fieldset input,#mz_form fieldset select,#mz_form fieldset textarea,#mz_form fieldset label {
    font-size: 110%
}

#mz_form fieldset input,#mz_form fieldset select,#mz_form fieldset textarea {
    margin: 15px;
    color: #5f5f5f;
    font-family: Arial,Helvetica,sans-serif;
    padding: .3em 3px;
    width: 300px
}

#mz_form fieldset label,#mz_form fieldset input,#mz_form fieldset select,#mz_form fieldset textarea {
    display: block;
    text-align: left;
}
#inputCheckRadio {
    border: none;
    display: inline-block;

float: right;
    vertical-align: middle;
    transform: translate(0, 10px);

}
#inputCheckRadio2 {
    border: none;
    display: inline-block;
    width: auto
}
.CheckRadio{
    float: right;
    width: 10px !important;
}
fieldset{
    border: none;
}
.hr{
    border-top: dashed 1px red;
}
    /*****************************footer************************/
.Rectangle_6 {
    background-color: rgb(59, 4, 1);
    position: absolute;

    top: 1000%;
    width: 100%;
    height: 175px;
    z-index: 139;
}
.SHOESSHOP_copy {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 603.096px;

    z-index: 140;
}
.copyRights {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 723.987px;

    z-index: 142;
}
._2017 {
    font-size: 18px;
    font-family: "Helvetica", serif;
    color: rgb(255, 255, 255);
    line-height: 2.75;
    position: absolute;
    left: 755.443px;

    z-index: 141;
}
