.nounderline {
  text-decoration: none
}

.nodecoretion {
  list-style-type: none;
}

.rounded {
  border-radius: 1rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:focus {
  color: white;
  text-decoration: none;
}

.nooutline {
  outline: none;
}

.myriad-font {
  font-family: "Myriad Pro", sans-serif;
}

.pointer {
  cursor: pointer;
}

.Proxima-font {
  font-family: "Proxima Nova", sans-serif;
}

.signature {
  font-family: Sacramento, cursive;
}

color-black {
  color: black;
}

.about-text-1 {
  font-size: 2.6em;
  line-height: 1.35;
}

.TradeGothic-font {
  font-family: "TradeGothic-BoldCond", "Arial black", "Arial Bold", Arial, sans-serif;
}

.customise-link {
  outline: none;
  cursor: pointer;
}

.signature-size {
  font-size: 4em;
}

.home-title {
  font-size: 2em;
}

.text-nav {
  font-size: 1.1em;

}

//#li1{
//  font-family: FontAwesome;
//  content: "\f056";
//}
//input[type=checkbox] { display:none; } /* to hide the checkbox itself */
//input[type=checkbox] + .line:after {
//  font-family: FontAwesome;
//  display: inline-block;
//}
//
//input[type=checkbox] + .line:after { content: "\f055"; } /* unchecked icon */
//input[type=checkbox]:checked + .line:after { content: "\f056"; } /* checked icon */
