<!DOCTYPE>
<html ng-app="shoeModule" ng-controller="mainController">
<head>
    <title>ShoesSHOP | {{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favIocn/favicon.ico" rel="icon" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="core/js/module.js"></script>
    <script src="core/js/main.controller.js"></script>
    <script src="tpl/home/home.controller.js"></script>
    <script src="tpl/About/about.controller.js"></script>
    <script src="tpl/contact_us/contactUs.controller.js"></script>
    <script src="tpl/product/product.controller.js"></script>
    <!--<link rel="stylesheet" href="css/styles.css">-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/utilities.css">


</head>
<body>
<header class="container-fluid">

    <!-----------------------------------Nav Menu-------------------------------------------------------------------->
    <div class="row bg-inverse d-flex p-2">
            <a href="#" class="mr-5 ml-2 align-self-center nav-link nounderline text-white">SHOES<strong>SHOP</strong></a>
            <nav>
                <ul id="nav" class="nav">
                    <li class="nav-item mr-3">
                        <a href="#!/home" ng-class="getClass('/home')" class="active nav-link text-warning" ng-click="setActive($event)">Home</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="#!/about" ng-class="getClass('/about')" class="text-warning nav-link" ng-click="setActive($event)">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!/contactUs" ng-class="getClass('/contactUs')" class="text-warning nav-link" ng-click="setActive($event)">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

</header>

<section class="container-fluid">

    <!-----------------------------------banner------------------------------------------------------->
    <article class="row">
        <div class="Rectangle_2">
            <div style="background-image: url('./images/shutterstock_banner.png')" class="Group_2"></div>
            <div class="banner-con">
                <div class="Ellipse_3_copy_2"></div>
                <div class="Ellipse_3_copy"></div>
                <div class="Ellipse_3"></div>
                <div class="Layer_20">
                    <div class="Big_Title_Here_Lorem_ipsum_dolor_sit_amet__cons"><b>THE NEW JORDAN'S</b>
                        </br>
                        Discover The Air Jordan Collection Now! Find Your Style & Buy Online
                    </div>
                </div>
            </div>
            <div class="Rounded_Rectangle_1 hvr-grow-shadow">
                <a href="#!/product/9" class="SHOW_ME_MORE">SHOW ME MORE</a>
            </div>
        </div>
    </article>
</section>

<section class="container">
    <!-------------------------------- View start-------------------------------------------------->
        <ng-view></ng-view>
    <!-------------------------------- View end-------------------------------------------------->
</section>
</header>

<!--------------------------------------footer----------------------------------------------------------->
<footer class="Rectangle_6">
    <div>
        <span class="SHOESSHOP_copy"><a href="/"></a>SHOES<b>SHOP</b></span>
        <span class="copyRights">&copy;</span>
        <span class="_2017">2017</span>
    </div>
</footer>


</body>
</html>
