<div ng-controller="homeController" class="d-flex flex-wrap my-5 justify-content-center col-md-10 offset-md-1"
     xmlns="http://www.w3.org/1999/html">

    <section class="rounded d-flex row col-md-9">
        <div class="w-100"><h2 class="Proxima-font home-title font-weight-bold">FEATURED PRODUCTS</h2>
            <hr>
        </div>
        <ul class="nodecoretion d-flex flex-wrap row p-0">
            <li ng-repeat="shoe in shoes | filter:searchText | orderBy:sortShoes"
                class="justify-content-center col-md-6 col-xl-4">
                <img class="img-thumbnail border-0" ng-src="images/{{shoe.shoeImage}}" alt="{{shoe.shoeImage}}"/>

                <hr class="my-4">


                <h4 class="text-style-title font-weight-bold truncate-name"> {{shoe.shoeName}}</h4>
                <h5 class="">{{shoe.shoeBrand}}</h5>
                <h6>{{shoe.shoeCategory}}</h6>
                <p class="lead truncate text-style-article">{{shoe.shoeArticle}}</p>
                <div class="d-flex justify-content-between">
                    <p class="price font-weight-bold ng-binding align-self-center">${{shoe.shoePrice}}.<span
                            class="cent font-weight-bold">99</span></p>
                    <p class="lead align-self-center">
                        <a class="btn btn-danger btn-lg  text-uppercase font-weight-bold"
                           href="#!/product/{{shoe.shoeID}}" role="button">Tell me
                            More</a>
                    </p>
                </div>

            </li>
        </ul>


    </section>
    <aside class="pt-5 flex-md-last flex-first col-md-3 col-lg-3 col-xl-2 offset-xl-1">

        <div class="form-group">
            <input type="text" class="search form-control border  text-uppercase font-weight-bold text-muted "
                   placeholder="search" ng-model="searchText.shoeBrand">
        </div>

        <div id="categories-add-color" class="categories-style form-group">
            <h4 class="categories-title pl-2">CATEGORIES</h4>
            <ul class="p-2 m-2">
                <li class="d-flex justify-content-between align-items-center">
                    <label for="li1"
                           class="col-4 p-0 m-0 categories-text text-capitalize font-weight-bold change-color-1">men's</label>
                    <div class="line col-7 change-color-1"></div>
                    <input type="checkbox" id="li1" class="col-1 m-1 categories-checkbox" ng-model="MEN"
                           ng-click="filterCategories()"/>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                    <label for="li2"
                           class="col-5 p-0 m-0 categories-text text-capitalize font-weight-bold">women's</label>
                    <div class="line col-6"></div>
                    <input type="checkbox" id="li2" class="col-1 m-1 categories-checkbox" ng-model="WOMEN"
                           ng-click="filterCategories()"/>

                </li>
                <li class="d-flex justify-content-between align-items-center">
                    <label for="li3" class="col-3 p-0 m-0 categories-text text-capitalize font-weight-bold">kids</label>
                    <div class="line col-8"></div>
                    <input type="checkbox" id="li3" class="col-1 m-1 categories-checkbox" ng-model="KIDS"
                           ng-click="filterCategories()"/>

                </li>
                <li class="d-flex justify-content-between align-items-center ">
                    <label for="li4"
                           class="col-4 p-0 m-0 categories-text text-capitalize font-weight-bold">sports</label>

                    <div class="line col-7"></div>
                    <input type="checkbox" id="li4" class="col-1 m-1 categories-checkbox" ng-model="SPORTS"
                           ng-click="filterCategories()"/>

                </li>
            </ul>
        </div>


        <div class="list-group categories-style mb-5">
            <h4 class="categories-title pl-2 text-uppercase ">search options</h4>
            <div class="p-2 m-2 d-flex align-items-center flex-column">
                <select class="form-control search-options-select border-0 font-weight-bold" placeholder="Choose.."
                        ng-model="sortShoes" ng-click="clearSortPrice()"
                        id="search-options">
                    <option class="font-weight-bold" value="+shoePrice">Choose...</option>
                    <option class="font-weight-bold" value="+shoeName">Choose by name</option>
                    <option class="font-weight-bold" value="+shoeBrand">Choose by manufacturer</option>
                </select>


                <ul id="sort-price-links" class="nodecoretion pl-0 mt-5 pt-5">
                    <li class="d-flex align-items-center flex-column">
                        <span class="text-nav myriad-font pointer"
                              ng-click='sortByPrice("-shoePrice")'>HIGH to LOW</span>
                    </li>
                    <li class="d-flex align-items-center flex-column">
                        <span class="text-nav myriad-font pointer"
                              ng-click='sortByPrice("+shoePrice")'>LOW to HIGH</span>
                    </li>

                </ul>
            </div>
        </div>
    </aside>
</div>
