<div ng-controller="homeController" class="d-flex flex-wrap my-5 justify-content-center col-md-10 offset-md-1"
     xmlns="http://www.w3.org/1999/html">

    <section class="rounded d-flex row col-md-9">
        <div class="w-100"><h2>FEATURED PRODUCTS</h2>
            <hr>
        </div>
        <ul class="nodecoretion d-flex flex-wrap row p-0">
            <li ng-repeat="shoe in shoes | filter:searchText | orderBy:sortShoes"
                class="justify-content-center col-md-6 col-xl-4">
                <img class="img-thumbnail border-0" ng-src="images/{{shoe.shoeImage}}" alt="{{shoe.shoeImage}}"/>

                <hr class="my-4">


                <h4 class="text-style-title font-weight-bold truncate-name"> {{shoe.shoeName}}</h4>
                <h5 class="">{{shoe.shoeBrand}}</h5>
                <h6>{{shoe.shoeCategory}}</h6>
                <p class="lead my-4 truncate text-style-article">{{shoe.shoeArticle}}</p>
                <div class="row justify-content-between mb-5 mt-3">
                    <p class="col-3 align-self-center price font-weight-bold">${{shoe.shoePrice}}.<span class="cent font-weight-bold">99</span></p>
                    <p class="lead col-8 offset-1">
                        <a class="btn btn-danger btn-md text-uppercase font-weight-bold" href="#!/product/{{shoe.shoeID}}" role="button">Tell me
                            More</a>
                    </p>
                </div>

            </li>
        </ul>


    </section>
    <aside class="pt-5 flex-md-last flex-first col-md-3">

        <div class="form-group">
            <input type="text" class="form-control border search text-uppercase font-weight-bold text-muted "
                   placeholder="search" ng-model="searchText.shoeBrand">
        </div>

        <div class="jumbotron p-0 border-0">
            <h4 class="categories-title m-2">CATEGORIES</h4>
            <hr class="p-0 m-0">
            <label class="col-2"> MEN</label>
            <hr class="col-8">
            <input type="checkbox" class="col-2" ng-model="MEN" ng-click="filterCategories()"/>
            <label>WOMEN</label>
            <hr>
            <input type="checkbox" class="unopen-cattegorys1" ng-model="WOMEN" ng-click="filterCategories()"/>

            <label>KIDS</label>
                <hr>
            <input type="checkbox" class="unopen-cattegorys2" ng-model="KIDS" ng-click="filterCategories()"/>
            <label>SPORTS</label>
                <hr>
            <input type="checkbox" class="unopen-cattegorys3" ng-model="SPORTS" ng-click="filterCategories()"/>
        </div>

        <div class="Rectangle_4b">

            <div class="form-group">
                <label class="text-uppercase" for="search-options">search options</label>
                <select class="form-control" placeholder="Choose.." ng-model="sortShoes" ng-click="clearSortPrice()"
                        id="search-options">
                    <option value="+shoePrice">Choose...</option>
                    <option value="+shoeName">Choose by name</option>
                    <option value="+shoeBrand">Choose by manufacturer</option>
                </select>
            </div>

            <ul id="sort-price-links">
                <li><a id="LOW_to_HIGH" ng-href="" ng-click='sortByPrice("+shoePrice")'>LOW to HIGH</a></li>
                <li><a id="HIGH_to_LOW" ng-href="" ng-click='sortByPrice("-shoePrice")'>HIGH to LOW</a></li>
            </ul>
        </div>
    </aside>
</div>
</div>