<div ng-controller="homeController" class="d-flex flex-wrap my-5 justify-content-center col-md-10 offset-md-1"
     xmlns="http://www.w3.org/1999/html">

    <section class="rounded d-flex row col-md-9">
        <div class="w-100"><h2>FEATURED PRODUCTS</h2>
            <hr>
        </div>
        <ul class="nodecoretion d-flex flex-wrap row p-0">
            <li ng-repeat="shoe in shoes | filter:searchText | orderBy:sortShoes"
                class="justify-content-center col-md-6 col-xl-4">
                <img class="img-thumbnail border-0" ng-src="images/{{shoe.shoeImage}}" alt="{{shoe.shoeImage}}"/>

                <hr class="my-4">


                <h4 class="text-style-title font-weight-bold truncate-name"> {{shoe.shoeName}}</h4>
                <h5 class="">{{shoe.shoeBrand}}</h5>
                <h6>{{shoe.shoeCategory}}</h6>
                <p class="lead truncate text-style-article">{{shoe.shoeArticle}}</p>
                <div class="d-flex justify-content-between">
                    <p class="price font-weight-bold ng-binding align-self-center">${{shoe.shoePrice}}.<span class="cent font-weight-bold">99</span></p>
                    <p class="lead align-self-center">
                        <a class="btn btn-danger btn-lg text-uppercase font-weight-bold" href="#!/product/{{shoe.shoeID}}" role="button">Tell me
                            More</a>
                    </p>
                </div>

            </li>
        </ul>


    </section>
    <aside class="pt-5 flex-md-last flex-first col-md-3">

        <div class="form-group">
            <input type="text" class="form-control border search text-uppercase font-weight-bold text-muted "
                   placeholder="search" ng-model="searchText.shoeBrand">
        </div>

        <ul class="list-group">
            <h4 class="categories-title m-2">CATEGORIES</h4>
            <li class="list-group-item justify-content-between">
                <label for="li1" class="w-100 d-flex justify-content-between">MEN</label>
                <input type="checkbox" id="li1" class="col-2" ng-model="MEN" ng-click="filterCategories()"/>
                <div class="line"></div>
                <hr />
            </li>
            <li class="list-group-item justify-content-between">
                <label for="li2" class="w-100 d-flex justify-content-between">WOMEN</label>
                <div class="line w-100"></div>
                <input type="checkbox" id="li2"  class="unopen-cattegorys1" ng-model="WOMEN" ng-click="filterCategories()"/>

            </li>
            <li class="list-group-item justify-content-between">
                <input type="checkbox" id="li3" class="unopen-cattegorys2" ng-model="KIDS" ng-click="filterCategories()"/>
                <label for="li3" class="w-100 d-flex justify-content-between">KIDS</label>
            </li>
            <li class="list-group-item justify-content-between">
                <input type="checkbox" id="li4" class="unopen-cattegorys3" ng-model="SPORTS" ng-click="filterCategories()"/>
                <label for="li4" class="w-100 d-flex justify-content-between">SPORTS</label>
            </li>
        </ul>

        <div class="Rectangle_4b">

            <div class="form-group">
                <label class="text-uppercase" for="search-options">search options</label>
                <select class="form-control" placeholder="Choose.." ng-model="sortShoes" ng-click="clearSortPrice()"
                        id="search-options">
                    <option value="+shoePrice">Choose...</option>
                    <option value="+shoeName">Choose by name</option>
                    <option value="+shoeBrand">Choose by manufacturer</option>
                </select>
            </div>

            <ul id="sort-price-links">
                <li><span id="LOW_to_HIGH" ng-href="" ng-click='sortByPrice("+shoePrice")'>LOW to HIGH</span></li>
                <li><span id="HIGH_to_LOW" ng-href="" ng-click='sortByPrice("-shoePrice")'>HIGH to LOW</span></li>
            </ul>
        </div>
    </aside>
</div>
</div>